[Unit]
Description=MediPick STM32 To Chassis Control Chain
Wants=medipick-bms.service medipick-stm32.service medipick-wheeltec.service
After=network.target

[Install]
WantedBy=multi-user.target
